@media only screen and (min-width: 0px) {
  body {
    background-color: white;
    color: black;
    margin: 60px;
    font-size: 20px;
  }

  figure img {
    width: 50%;
  }
}

@media only screen and (min-width: 1100px) {
  body {
    background-color: black;
    color: white;
    margin: 40px;
    font-size: 16px;
  }

  figure img {
    width: 100%;
  }

  .row {
    display: flex;
  }

  .column {
    display: flex;
    flex-direction: column;
  }
}
